{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "pragma": "jsx"
        }
      }
    ]
  ],
  "plugins": [
    "emotion",
    [
      "@emotion/babel-plugin-jsx-pragmatic",
      {
        "module": "theme-ui",
        "import": "jsx",
        "export": "jsx"
      }
    ]
  ]
}
